.mainhomediv{
    display: flex;
    flex-direction: row;
}
.home img {
    height: 1000;
    width: 800px;
}
.hometext h1{
   font-size: 5rem;
   font-weight: 800;
   margin-left: 11rem;
}
.hometext h2{
    color: #555497;
    font-size: 3rem;
   font-weight: 500;
   margin-left: 11rem;
   margin-top: 1rem;
  
}
.homebutton{
 
  display: flex;
  flex-direction: row;
align-items: center;
}
