.mainhomediv{
    display: flex;
    flex-direction: row;
}
.home img {
    height: 40rem;
    width: 59rem;
}
.hometext h1{
   font-weight: 80px;
   font-size: 65px;
   margin-left: 2rem;

}
.hometext h2{
    color: #555497;
   margin-top: 1rem;
   margin-left: 2rem;
  
}
.hometext p{
    margin-left: 2rem;
}
.homebutton{
  margin-left: 2rem;
  margin-top: 4rem;
  height: 2.5rem;
  width: 10rem;
  background-color: #201e8b;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;

}
.homebutton:hover{
    background-color:  #44439a;
}

@media screen  and (min-width: 500px) 
{
    .hometext h1{
        font-size: 5.5rem;

    }
    
}
