.Navbar{
 display: flex;
background-color: #555497 ;
color:rgb(17, 15, 15);
justify-content: space-between;
 
}
.logo img {
    height: 5rem;
    width: 5rem;
}
.Nav ul li {
   
    display: inline;
    margin-left: 3rem;
    font-weight: 500;
    font-size: 20px;
    margin-right: 2rem;  
}
.link{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.link:hover{
    color: black;
}

